https://github.com/thieu1995/csv-files/tree/main/data/timeseries/acea-water-prediction

In [9]:
import pandas as pd
# passengers = pd.read_csv("https://github.com/thieu1995/csv-files/blob/main/data/timeseries/AirPassengers.csv", sep =',')

passengers = pd.read_csv("AirPassengers.csv", sep = ",")
passengers.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121