In [28]:
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px 
import warnings
warnings.filterwarnings("ignore")

In [29]:
import os
dirs = os.listdir('../datasets')
dirs = ["../datasets/"+x for x in dirs if x[-3:]=="csv"]

def describe(df):
    """Return a Pandas dataframe describing the contents of a source dataframe including missing values."""
    
    variables = []
    dtypes = []
    count = []
    unique = []
    missing = []
    
    
    for item in df.columns:
        variables.append(item)
        dtypes.append(df[item].dtype)
        count.append(len(df[item]))
        unique.append(len(df[item].unique()))
        missing.append(df[item].isna().sum())
        

    output = pd.DataFrame({
        'variable': variables, 
        'dtype': dtypes,
        'count': count,
        'unique': unique,
        'missing value': missing
    })    
        
    return output

def read(dir):
    data = pd.read_csv(dir)
    df = pd.DataFrame(data)
    pd.set_option('display.max_columns', None)
    df.describe(include='all')
    df.info()
    describe(df)
    df["Date"] = pd.to_datetime(df['Date'], errors='coerce')
    return df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-05-08,231.419998,235.619995,230.270004,233.270004,233.022766,16400500
1,2023-05-09,231.460007,235.880005,231.080002,233.369995,233.122650,16865600
2,2023-05-10,236.169998,236.750000,230.720001,233.080002,232.832962,19119000
3,2023-05-11,233.050003,238.210007,232.300003,235.789993,235.540085,20449000
4,2023-05-12,236.740005,236.960007,231.449997,233.809998,233.562180,16155300

In [41]:
class read_data():
    def __init__(self, paths = ["../datasets/"+x for x in os.listdir("../datasets") if x[-3:]=="csv"]):
        self.paths = paths
        self.data = {}
        for path in self.paths:
            self.data[path.split("/")[-1][:-4]] = pd.read_csv(path)

    def get_data(self):
        return self.data
    
    def get_data_names(self):
        return list(self.data.keys())
    
    def get_data_shape(self):
        return {key: value.shape for key, value in self.data.items()}
    
    def alalysing(self):
        print("Number of datasets: ", len(self.data))
        for key, value in self.data.items():
            print(f"Analysing {key} data")
            print(describe(value))
            print("\n\n")


data = read_data()
data.get_data()
data.get_data_names()
data.get_data_shape()
data.alalysing()

Number of datasets:  5
Analysing META data
    variable    dtype  count  unique  missing value
0       Date   object    251     251              0
1       Open  float64    251     251              0
2       High  float64    251     245              0
3        Low  float64    251     249              0
4      Close  float64    251     249              0
5  Adj Close  float64    251     250              0
6     Volume    int64    251     251              0



Analysing aapl data
  variable    dtype  count  unique  missing value
0     date   object   3782    3782              0
1     open  float64   3782    2971              0
2     high  float64   3782    2983              0
3      low  float64   3782    3009              0
4    close  float64   3782    2997              0
5   volume  float64   3782    3773              0



Analysing PLTR data
    variable    dtype  count  unique  missing value
0       Date   object    251     251              0
1       Open  float64    251     222              0
2       High  float64    251     225              0
3        Low  float64    251     228              0
4      Close  float64    251     223              0
5  Adj Close  float64    251     223              0
6     Volume    int64    251     251              0



Analysing MSFT data
    variable    dtype  count  unique  missing value
0       Date   object    251     251              0
1       Open  float64    251     247              0
2       High  float64    251     246              0
3        Low  float64    251     244              0
4      Close  float64    251     246              0
5  Adj Close  float64    251     250              0
6     Volume    int64    251     251              0



Analysing NVDA data
    variable    dtype  count  unique  missing value
0       Date   object    251     251              0
1       Open  float64    251     251              0
2       High  float64    251     250              0
3        Low  float64    251     249              0
4      Close  float64    251     250              0
5  Adj Close  float64    251     250              0
6     Volume    int64    251     251              0

# Reference

https://www.kaggle.com/code/konradb/ts-3-time-series-for-finance

https://www.kaggle.com/code/faressayah/stock-market-analysis-prediction-using-lstm

https://www.kaggle.com/code/kashnitsky/topic-9-part-1-time-series-analysis-in-python

https://www.youtube.com/watch?v=ZAAuGEVJsH8&t=23s

https://www.youtube.com/watch?v=ZAAuGEVJsH8&t=23s